In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [49]:
rolls = 20
dice_roll = pd.DataFrame(data=np.zeros([rolls, 3]),
                         index=([roll for roll in range(1, rolls + 1)]), columns=["Dice 1", "Dice 2", "Sum"])
for i in range(1, rolls + 1):
    dice_1 = np.random.randint(1, 7)
    dice_2 = np.random.randint(1, 7)
    dice_roll['Dice 1'][i] = dice_1
    dice_roll['Dice 2'][i] = dice_2
    dice_roll['Sum'][i] = dice_1 + dice_2
dice_roll

    Dice 1  Dice 2   Sum
1      1.0     5.0   6.0
2      2.0     6.0   8.0
3      3.0     3.0   6.0
4      1.0     6.0   7.0
5      3.0     2.0   5.0
6      6.0     4.0  10.0
7      2.0     3.0   5.0
8      4.0     4.0   8.0
9      2.0     1.0   3.0
10     1.0     2.0   3.0
11     5.0     5.0  10.0
12     1.0     5.0   6.0
13     4.0     6.0  10.0
14     6.0     2.0   8.0
15     4.0     3.0   7.0
16     6.0     2.0   8.0
17     2.0     6.0   8.0
18     6.0     4.0  10.0
19     3.0     4.0   7.0
20     4.0     1.0   5.0

In [62]:
frequency_table = {}

for sum in dice_roll['Sum']:
    if sum in frequency_table:
        frequency_table[sum] += 1
    else:
        frequency_table[sum] = 1

plt.bar(x=frequency_table.keys, y=frequency_table.values)
frequency_table

TypeError: bar() missing 1 required positional argument: 'height'