# Practice Slicing

In [1]:
import numpy as np
import pandas as pd

In [6]:
series1 = pd.Series([1, 2, 3, 4, None])
series1

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [15]:
example = pd.DataFrame(
    [[1, 2, 3], [4, 5, 6]],
    columns=['column 1', 'column 2', 'column 3'],
    index=['a', 'b']
)
example

   column 1  column 2  column 3
a         1         2         3
b         4         5         6

In [18]:
example.columns

Index(['column 1', 'column 2', 'column 3'], dtype='object')

In [19]:
example.index

Index(['a', 'b'], dtype='object')

In [21]:
example['column 1']['a']

1

In [22]:
example['column 1'][1]

4

In [25]:
example.values

array([[1, 2, 3],
       [4, 5, 6]], dtype=int64)

In [28]:
example.iterrows #Note the absence of ()

<bound method DataFrame.iterrows of    column 1  column 2  column 3
a         1         2         3
b         4         5         6>

In [29]:
for index, row in example.iterrows():
    print(f"Index ({index}), Row ({row})")

Index (a), Row (column 1    1
column 2    2
column 3    3
Name: a, dtype: int64)
Index (b), Row (column 1    4
column 2    5
column 3    6
Name: b, dtype: int64)